:root {
  --interaction-color: #2196f3;
  --brand-gray: #2f303a;
  --buttons-and-background: #f5f4fa;
  --text-color: #757575;
  --darker-text-color: #212121;
  --black: #000000;
  --white: #ffffff;
  --light-grey-border: #ececec;
  --transparent-white: rgba(255, 255, 255, 0.6);
  --icons: #afb1b8;
  --animation-time: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
ul {
  padding: 0;
  margin: 0;
}
body {
  font-family: "Roboto", sans-serif;
  color: var(--darker-text-color);
}
.section {
  padding: 94px 0;
}
.container {
  margin: 0 auto;
  width: 1200px;
  padding: 0 15px;
}
.flex-nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flex-inner-nav {
  display: flex;
  align-items: center;
  gap: 93px;
}
.nav-list {
  list-style: none;
  display: flex;
  gap: 46px;
}
.nav-list a {
  text-decoration: none;
  color: var(--darker-text-color);
  font-weight: 500;
  line-height: 1.15;
  font-size: 14px;
  letter-spacing: 0.02em;
  position: relative;
  transition: color var(--animation-time);
}
.header-contact-container {
  display: flex;
  gap: 50px;
}
.logo {
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: var(--interaction-color);
  margin-left: 15px;
}
.logo-black {
  color: var(--black);
}
.logo-white {
  color: var(--white);
}
.header-icon {
  fill: currentColor;
}
.header-contact {
  display: flex;
  align-items: center;
  text-decoration: none;
  gap: 10px;
  color: var(--text-color);
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  transition: color var(--animation-time);
}
.nav-list .is-active {
  position: relative;
  color: var(--interaction-color);
}
.is-active::after,
.nav-list a:hover::after,
.nav-list a:focus::after {
  content: "";
  width: 100%;
  height: 4px;
  background-color: var(--interaction-color);
  border-radius: 2px;
  position: absolute;
  left: 0;
  bottom: -32px;
}
.nav-list a:hover,
.nav-list a:focus,
.header-contact:hover,
.header-contact:focus,
.contact-footer:hover,
.contact-footer:focus,
.contact-footer-underlined:hover,
.contact-footer-underlined:focus {
  color: var(--interaction-color);
}
/*---------------------------------MAIN----------------------------------------*/
.title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  color: var(--white);
  text-transform: uppercase;
  letter-spacing: 0.06em;
  font-style: normal;
  display: block;
  text-align: center;
  margin: 106px 252px 0;
}
.order-background {
  background: linear-gradient(#2f303a66, #2f303a66),
    url(../images/background_img.jpg);
  background-position: center;
  background-size: 1600px;
  background-repeat: no-repeat;
}
.order {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.order-button {
  background-color: var(--interaction-color);
  color: var(--white);
  font-size: 16px;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
  outline: none;
  border: none;
  width: 200px;
  height: 50px;
  border-radius: 4px;
  margin-bottom: 106px;
}
.backdrop {
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  display: flex;
  z-index: 1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: opacity var(--animation-time);
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity var(--animation-time), visibility var(--animation-time);
}
.modal {
  background-color: var(--white);
  margin: auto;
  width: 528px;
  height: 581px;
  position: relative;
  transition: transform var(--animation-time);
  text-align: center;
  padding-top: 40px;
}
.backdrop.is-hidden .modal {
  transform: scale(0);
}
.modal-text {
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0.03em;
  display: inline-block;
  margin-bottom: 12px;
}
.form-text {
  font-size: 12px;
  letter-spacing: 0.01em;
}
.form-input {
  width: 448px;
  height: 40px;
  display: inline-block;
  position: relative;
  padding: 0 16px 0 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color var(--animation-time);
}
.form-input:focus,
.newsletter-email:focus {
  outline: none;
  border-color: var(--interaction-color);
}
.newsletter-email::placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.form-svg-container:focus-within svg {
  fill: #2196f3;
}
.form-svg-container {
  position: relative;
  margin-top: 4px;
  margin-bottom: 10px;
}
.form-svg-container svg {
  position: absolute;
  left: 12px;
  top: 11px;
  transition: fill var(--animation-time);
}
.form-comment {
  resize: none;
  height: 120px;
  margin-top: 4px;
  margin-bottom: 20px;
  padding-top: 12px;
  padding-left: 16px;
}
.form-comment::placeholder {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.agreement-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.agreement-text a {
  color: var(--interaction-color);
}
.flex-checkbox {
  display: flex;
  gap: 8px;
  margin-left: 15px;
  position: relative;
  align-items: center;
}
.flex-checkbox input {
  appearance: none;
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
  z-index: 2;
  transition: opacity var(--animation-time);
}
.modal-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 40px;
}
.custom-checkbox {
  position: absolute;
  left: 0;
  border-radius: 2px;
  opacity: 0;
  transition: opacity var(--animation-time);
  background-color: var(--interaction-color);
}
.agreement-checkbox:checked + .custom-checkbox {
  opacity: 1;
}
.agreement-checkbox:checked {
  opacity: 0;
}
.modal button[type="submit"] {
  width: 200px;
  height: 50px;
  margin-top: 30px;
  background-color: var(--interaction-color);
  color: var(--white);
  border: none;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}
.close-btn {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: absolute;
  display: flex;
  align-items: center;
  top: 8px;
  right: 8px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--white);
  cursor: pointer;
}
.article-flex-container {
  display: flex;
  list-style: none;
  gap: 30px;
}
.article-flex-container article {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.article-icon-box {
  background-color: var(--buttons-and-background);
  padding: 25px 100px;
}
.article-title {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.1;
  text-transform: uppercase;
}
.main-description {
  color: var(--text-color);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  vertical-align: top;
  margin-bottom: 10px;
}
.negative-margin-top {
  margin-top: -94px;
}
.images-flex-container {
  display: flex;
  padding-top: 50px;
  gap: 30px;
}
.image-with-description {
  position: relative;
  display: block;
  height: 294px;
}
.image-description {
  display: flex;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  align-items: center;
  justify-content: center;
  background-color: rgba(47, 48, 58, 0.8);
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  color: var(--white);
  letter-spacing: 0.03em;
}
.header-wrapper {
  border-bottom: 1px solid var(--light-grey-border);
  padding: 24px 0 25px;
  position: relative;
}
.dark-background {
  background-color: var(--brand-gray);
  margin: 0 auto;
  min-width: 1200px;
}
.white-background {
  margin: 0 auto;
  min-width: 1200px;
}
.grey-background {
  background-color: var(--buttons-and-background);
  margin: 0 auto;
  min-width: 1200px;
}
.workers-list {
  display: flex;
  list-style: none;
  justify-content: center;
  gap: 30px;
  padding-top: 50px;
}
.workers-list figure {
  width: 270px;
  height: 428px;
  background: white;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  margin: 0;
  padding: 0;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}
.worker-name {
  font-weight: 500;
  line-height: 1.2;
}
.worker-job {
  color: var(--text-color);
}
.worker-flex-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding-top: 30px;
}
.workers-social-media {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 0;
  margin: 16px 0 0;
}
.workers-socials-icon {
  fill: var(--icons);
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  border-radius: 50%;
  justify-content: center;
  transition: fill var(--animation-time), background-color var(--animation-time);
}
.workers-socials-icon:hover,
.workers-socials-icon:focus,
.footer-socials-flex a:hover,
.footer-socials-flex a:focus {
  fill: #fff;
  background-color: var(--interaction-color);
  cursor: pointer;
}
.filter-list {
  list-style: none;
  display: flex;
  gap: 8px;
  justify-content: center;
  padding-bottom: 50px;
}
.filter-button {
  background-color: var(--buttons-and-background);
  color: var(--darker-text-color);
  font-style: normal;
  line-height: 1.625;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.03em;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 4px;
  padding: 6px 22px;
  transition: color var(--animation-time),
    background-color var(--animation-time), box-shadow var(--animation-time);
}
.filter-button:hover,
.filter-button:focus {
  background-color: var(--interaction-color);
  color: var(--white);
  box-shadow: 0px 2px 2px 0px #0000001f, 0px 1px 2px 0px #00000014,
    0px 3px 1px 0px #0000001a;
}
.images-list {
  list-style: none;
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 0;
}
.images-item {
  cursor: pointer;
  transition: box-shadow var(--animation-time);
}
.images-item:hover {
  box-shadow: 0px 1px 1px 0px #0000001f, 0px 4px 4px 0px #0000000f,
    0px 1px 1px 0px #0000001f;
}
.images-container {
  height: 294px;
  width: 370px;
  overflow: hidden;
  position: relative;
}
.images-container img {
  font-size: 0;
}
.images-overlay {
  background-color: rgba(33, 150, 243, 0.9);
  position: absolute;
  top: 0;
  bottom: 0;
  transform: translateY(100%);
  transition: translateY, var(--animation-time);
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  padding: 49px 45px 49px 24px;
  text-justify: left;
  color: var(--white);
}
.images-item:hover .images-overlay,
.images-item:focus .images-overlay {
  transform: translateY(0);
}
.images-list figure {
  padding: 0;
  margin: 0;
}
.images-item figcaption {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
}
.list-item {
  padding: 2px 0;
  font-size: 18px;
  line-height: 1.71;
  font-weight: 700;
}
.list-item-type {
  padding: 2px 0;
  color: var(--text-color);
  line-height: 1.6;
  font-size: 16px;
}
.clients-list {
  list-style: none;
  display: flex;
  gap: 30px;
  margin: 0;
  padding: 0;
  padding-top: 40px;
}
.clients-icon-box {
  padding: 15px 31px;
  display: inline-block;
  fill: var(--icons);
  border: var(--icons) 1px solid;
  border-radius: 4px;
  height: 92px;
  width: 170px;
  transition: border var(--animation-time), fill var(--animation-time);
}
.clients-icon {
  fill: var(--icons);
}
.clients-icon-box:hover,
.clients-icon-box:focus {
  border: var(--interaction-color) 1px solid;
  fill: var(--interaction-color);
}
/*--------------------------------FOOTER---------------------------------------*/
.footer-flex-container {
  display: flex;
  gap: 70px;
}
.container-footer {
  background-color: var(--brand-gray);
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 60px 0;
}
.container-footer .logo {
  padding: 0;
  margin: 0;
}
.container-footer address {
  color: var(--white);
  font-style: normal;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  line-height: 1.71;
  letter-spacing: 0.03em;
  gap: 9px;
}
.container-footer a {
  width: fit-content;
}
.contact-footer-underlined {
  color: var(--transparent-white);
  line-height: 1.71;
  transition: color var(--animation-time);
}
.contact-footer {
  color: var(--transparent-white);
  line-height: 1.71;
  text-decoration: none;
  transition: color var(--animation-time);
}
.footer-join {
  padding-top: 72px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.join-text {
  color: var(--white);
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.footer-socials-flex {
  display: flex;
  list-style: none;
  justify-content: center;
  gap: 10px;
}
.footer-socials-flex a {
  background-color: rgba(255, 255, 255, 0.1);
  fill: var(--white);
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  border-radius: 50%;
  justify-content: center;
  transition: background-color var(--animation-time);
}
.newsletter {
  padding-top: 72px;
  display: inline-flex;
}
.newsletter button {
  width: 200px;
  height: 50px;
  background-color: var(--interaction-color);
  border-radius: 4px;
  border: none;
  color: white;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 28px;
  padding-left: 42px;
  margin-left: 15px;
  margin-top: 36px;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.newsletter-flex {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.newsletter-email {
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  background-color: transparent;
  width: 358px;
  height: 50px;
  line-height: 1.2;
  padding-left: 19px;
  transition: border-color var(--animation-time);
  color: rgba(255, 255, 255, 0.6);
}
